.idea
node_modules
*.zip
dist
npm-debug.log

# extra
/hmcl.json
/hmcl.log

# minecraft
/.minecraft/*
# !/.minecraft/options.txt
!/.minecraft/servers.dat
!/.minecraft/assets/
!/.minecraft/libraries/
!/.minecraft/mods/
!/.minecraft/versions/
!/.minecraft/resourcepacks/

#resourcepacks
/.minecraft/resourcepacks/*
!/.minecraft/resourcepacks/CanisminorCraft